<div id="selling-info" class="grid page-width">
  <h2>{{ section.settings.mtitle }}</h2>
  <div class="grid__item medium-up--one-third">
    <img src="{{ section.settings.image1 | img_url: '300x300' }}"/>
    <h4>{{ section.settings.title1 }}</h4>
    <p>{{ section.settings.sub-title1 }}</p>
    <p><span>{{ section.settings.info1 }}</span></p>    
  </div> 
  <div class="grid__item medium-up--one-third">
    <img src="{{ section.settings.image2 | img_url }}"/>
    <h4>{{ section.settings.title2 }}</h4>
    <p>{{ section.settings.sub-title2 }}</p>
    <p><span>{{ section.settings.info2 }}</span></p>
  </div>
  <div class="grid__item medium-up--one-third">
    <div class="inner-box">
      <p>{{ section.settings.title3 }}</p>
      <p>{{ section.settings.sub-title3 }}</p>
      <a href="{{ section.settings.button_link }}">{{ section.settings.btn-label }}</a>
    </div>  
  </div>  
</div>

<style>
#selling-info{
  text-align:center;
  background: #f9f9f9;
  padding: 52px 50px 70px;
}
#selling-info .grid__item {
    margin-top: 31px;
}
#selling-info h2{
    font-size:36px;
    color:#050505;
    text-align: center;
    text-transform: capitalize;
}
#selling-info img{
  margin-bottom:20px;
  margin-top: 16px;
 
}
#selling-info h4{
  font-size:20px;
  color:#2a2a2a;
}
#selling-info p{
  font-size:11px;
  color:#839042;
}
#selling-info p span{
   font-size:11px;
  color:#777777; 
}
#selling-info .medium-up--one-third:nth-child(3) img{
  margin-bottom: 10px;
}
#selling-info .medium-up--one-third:nth-child(4){
  background: #fff;
  padding:12px;
}
#selling-info .medium-up--one-third:nth-child(4) a{
  color:#050505;
  font-size:18px;
  text-transform: capitalize;
}
#selling-info .medium-up--one-third:nth-child(4) .inner-box{
  color:#777777; 
  border: 1px solid #eaeaea;
  background: #fff;
  padding: 61px 0 32px;
  font-size:16px;
}
#selling-info .medium-up--one-third:nth-child(4) .inner-box p{
  font-size:14px;
  color:#838383;
  margin-bottom:7px;
}
#selling-info .medium-up--one-third:nth-child(4) .inner-box p:nth-child(2){
 color:#818d4d;
}
</style>

{% schema %}
  {
    "name": "Selling Info",
    "settings":[    
          {
            "type": "text",
            "id": "mtitle",
            "label": "Main Title",
            "default": "We Ship Worldwide"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Icon Image 1"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "Heading 1",
            "default": "Greater Vancouver Regional District"
          },
          {
            "type": "text",
            "id": "sub-title1",
            "label": "Sub Title 1",
            "default": "FREE SHIPPING FOR ORDERS OVER $50"
          },
          {
            "type": "text",
            "id": "info1",
            "label": "Info 1",
            "default": "1 - 3 Business Days"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Icon Image 2"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Heading 2",
            "default": "Regular Ground Shipping"
          },
          {
            "type": "text",
            "id": "sub-title2",
            "label": "Sub Title 2",
            "default": "FREE SHIPPING FOR ORDERS OVER $100"
          },
          {
            "type": "text",
            "id": "info2",
            "label": "Info 2",
            "default": "5 - 10 Business Days"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "Heading",
            "default": "For Orders Outside CAN /  US, please call"
          },
          {
            "type": "text",
            "id": "sub-title3", 
            "label": "Sub Title 3",
            "default": "+1 888 291 3827 EXT 170"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "btn-label",
            "label": "Button Label",
            "default": "Learn More"
          }          
    ],
    "presets": [
      {
        "name": "Selling Info",
        "category": "Text"
      }
    ]
  }
{% endschema %}
