<div class="page-width">
<hr/>
</div>
<div class="page-width rich-text">
  <div class="section-header text-center">
  {% if section.settings.maintitle != blank %}    
      <h2>{{ section.settings.maintitle | escape }}</h2>    
  {% endif %}
    {% if section.settings.main-subtitle != blank %}    
      <p>{{ section.settings.main-subtitle| escape }}</p>    
  {% endif %}
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third">
      <div class="outerbox" style="background: url({{ section.settings.image1 | img_url: '300x300' }}) no-repeat center center; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;">
        <div class="innerbox">
          {% if section.settings.section_title1 != blank %}
            <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
              <h4 class="h4">{{ section.settings.section_title1 | escape }}</h4>
            </div>
          {% endif %}
          {% if section.settings.text1 != blank %}
            <p class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text1 }}</p>
          {% endif %}
       </div>
      </div>
     </div> 
     <div class="grid__item medium-up--one-third">
       <div class="outerbox" style=" background: url({{ section.settings.image2 | img_url: '300x300' }}) no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">
          <div class="innerbox">
            {% if section.settings.section_title2 != blank %}
              <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
                <h4 class="h4">{{ section.settings.section_title2 | escape }}</h4>
              </div>
            {% endif %}
            {% if section.settings.text2 != blank %}
              <p class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text2 }}</p>
            {% endif %}
         </div>
       </div>
      </div>        
     <div class="grid__item medium-up--one-third">
       <div class="outerbox" style=" background: url({{ section.settings.image3 | img_url: '300x300' }}) no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">          
         <div class="innerbox">
            {% if section.settings.section_title3 != blank %}
              <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
                <h4 class="h4">{{ section.settings.section_title3 | escape }}</h4>
              </div>
            {% endif %}
            {% if section.settings.text3 != blank %}
              <p class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text3 }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
   </div> 
  

<style type="text/css">
  .outerbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height:335px;
    padding:0 40px;

  }
  .innerbox{
    background:rgba(255,255,255,0.9);
    padding:21px;
    text-align:center;
    font-size: 12px;
    margin-bottom: 7.5px;
    text-align: center;
    line-height: 23px;
    width:100%;
  }
  .rte-setting {
    margin-bottom:9px;
  }
  hr{
    margin: 0 0 55px 0;
  }
  #shopify-section-1517689193155{
    padding-top:0;    
  }
  #shopify-section-1517689193155 .grid__item{
    padding-left:10px;
  }
  
</style>

{% schema %}
  {
    "name": "Three Columns",
    "class": "index-section", 
    "settings": [
            {
        "type": "text",
        "id": "maintitle",
        "label": "Heading",
        "default": "Get To Know Us Better"
      },
      {
        "type": "text",
        "id": "main-subtitle",
        "label": "Heading 1",
        "default": "Because We're Your Cup of Tea"
      },
      {
            "type": "image_picker",
            "id": "image1",
            "label": "Column Image 1"
      },
      {
        "type": "text",
        "id": "section_title1",
        "label": "Heading 1",
        "default": "Story Of Tealeavs"
      },
      {
        "type": "richtext",
        "id": "text1",
        "label": "Text 1",
        "default": "<p>Learn why we are, who we are, what we do</p>"
      },
      {
            "type": "image_picker",
            "id": "image2",
            "label": "Column Image 2"
      },
      {
        "type": "text",
        "id": "section_title2",
        "label": "Heading 2",
        "default": "@paletteforyourpalate"
      },
      {
        "type": "richtext",
        "id": "text2",
        "label": "Text 2",
        "default": "<p>See the artistry in fine dining with tealeaves x pantone</p>"
      },
      {
            "type": "image_picker",
            "id": "image3",
            "label": "Column Image 3"
      },
      {
        "type": "text",
        "id": "section_title3",
        "label": "Heading 3",
        "default": "Recipes"
      },
      {
        "type": "richtext",
        "id": "text3",
        "label": "Text 3",
        "default": "<p>Get yourself inspired by these crazy talented chefs</p>"
      }

    ],
    "presets": [
      {
        "name": "Three Columns",
        "category": "Text"
      }
    ]
  }
{% endschema %}
